@media screen and (min-width: 750px) {
    .hero__container{
        height: 100vh;
    }
    .hero__container{
        align-items: flex-start;
        padding: 80px;
    }
    .hero__text{
        max-width: 500px;
        gap: 30px;

    }
    .hero__title{
        font-size: 3.5rem;
    }
    .hero__description{
        font-size: 1.5rem;
        line-height: 40px;
    }
    .hero__button{
        padding: 14px 38px;
    }
}