@media screen and (min-width: 750px) {
    /* navbar */
    .navbar__container{
        padding: 0 50px;
    }
    .nav__list{
        display: flex;
        justify-content: space-between;
        gap: 20px;

    }
    .nav__list li{
        list-style: none;
    }
    .nav__list li a{
        text-transform: capitalize;
        color: var(--black);
        font-family: 'Nunito', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 20px;
        text-decoration: none;
    }
    .btn-icon{
        display: none;
    }




    /* hero */
    .hero__container{
        height: 100vh;
    }
    .hero__container{
        align-items: flex-start;
        padding: 80px;
    }
    .hero__text{
        max-width: 500px;
        gap: 30px;

    }
    .hero__title{
        font-size: 3.5rem;
    }
    .hero__description{
        font-size: 1.5rem;
        line-height: 40px;
    }
    .hero__button{
        padding: 14px 38px;
    }
}